################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Budget.Domain.Core/obj
/Budget.Domain.Interfaces/obj
/Budget.Infrastructure.Business/obj
/Budget.Infrastructure.Data/obj
/Budget.Services.Interfaces/obj
/.vs
